page-about {

  .scroll-content {
    padding: 30px !important;
  }

  .scroll-content h3 {
    color: #2f8eab !important;
    font-size: 1em !important;
    font-weight: bold !important;
  }

  .scroll-content p {
    color: #969696 !important;
    font-size: .875em !important;
  }

  ion-list {
    border: solid 1px #ccc;
    border-top: solid 1px #ccc !important;
    border-bottom: solid 2px #ccc !important;
    border-radius: 4px;
    margin: 35px 0 !important;
  }

  ion-label {
    font-size: 0.8em !important;
  }

  .item-ios,
  .item-md {
    padding-left: 0 !important;
  }

  .input-wrapper {
    padding-left: 16px !important;
  }

  .informations {
    text-align: center;
  }

  .informations img {
    width: 50px;
  }

  .informations h4 {
    font-size: 1.5em !important;
    color: #2f8eab !important;
  }

  .informations p {
    font-size: 0.8em !important;
    color: #969696 !important;
  }

}
