page-main {
    .tab-button-modified {
        background: url(assets/images/icones.png) -124px -63px !important;
        width: 30px !important;
        height: 30px !important;
    }
    //Android
    .tabs-md .tabbar {
        background: color($colors, light);
        color: color($colors, barramais-tabs);
    }
    .tabs-md .tab-button {
        color: color($colors, barramais-tabs);
    }
    .tabs-md .tab-button[aria-selected=true] {
        color: color($colors, barramais-tabs);
    }
    //WindowsPhone
    .tabs-wp .tabbar {
        background: color($colors, light);
        color: color($colors, barramais-tabs);
    }
    .tabs-wp .tab-button {
        color: color($colors, barramais-tabs);
    }
    .tabs-wp .tab-button[aria-selected=true] {
        color: color($colors, barramais-tabs);
    }
    //IOS
    .tabs-ios .tabbar {
        background: color($colors, light);
        color: color($colors, barramais-tabs);
    }
    .tabs-ios .tab-button {
        color: color($colors, barramais-tabs);
        ;
    }
    .tabs-ios .tab-button[aria-selected=true] {
        color: color($colors, barramais-tabs);
    }
    .tabs-md .tab-button[aria-selected=true] .tab-button-icon,
    .tabs-ios .tab-button[aria-selected=true] .tab-button-icon,
    .tabs-wp .tab-button[aria-selected=true] .tab-button-icon {
        color: color($colors, barramais-tabs);
    }
    .tabs-md .tab-button-icon,
    .tabs-ios .tab-button-icon,
    .tabs-wp .tab-button-icon {
        color: color($colors, barramais-tabs);
    }
    a[aria-selected="true"] .tab-button-icon,
    a[aria-selected="true"] span {
        color: #27809d;
    }
    .tabbar .tab-button-icon,
    .tabbar span {
        color: #9a9a9a;
    }
    .ion-md-ex-chat-bubble,
    .ion-ios-ex-chat-bubble,
    .ion-ios-ex-chat-bubble-outline,
    #tab-t0-2 .icon {
        background: url(../assets/images/chatbubbleWorkingGrey.png) 0px 2px;
        background-size: 22px 22px !important;
        background-repeat: no-repeat !important;
        height: 28px;
        width: 25px;
    }
    .tab-button[aria-selected=true] .ion-md-ex-chat-bubble,
    .tab-button[aria-selected=true] .ion-ios-ex-chat-bubble,
    .tab-button[aria-selected=true] .ion-ios-ex-chat-bubble-outline, {
        background: url(../assets/images/chatbubbleWorkingBlue.png) 0px 2px !important;
        background-size: 22px 22px !important;
        background-repeat: no-repeat !important;
        height: 28px;
        width: 25px;
    }
}