<ion-header>
  <bm-header [title]= "'Páginas'"></bm-header>
</ion-header>
<ion-content padding >
  <ion-refresher (ionRefresh)="doRefresh($event)" [pullMin]=90>
   <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Atualizando...">
   </ion-refresher-content>
  </ion-refresher>

  <!-- <div class="groups">
    <ion-card class="group" *ngFor="let group of all_groups">
      <img src="{{group.cover_photo_url}}" (click)="openPage(group)"/>
      <div class="card-title" (click)="openPage(group)">{{group.name}}</div>
    </ion-card>
  </div> -->

  <div class="groups">
    <p>Páginas seguindo <b>({{confirmedGroups_count}})</b></p>
    <ion-slides paginationType="fraction" slidesPerView=2>
      <ion-slide *ngFor="let group of confirmed_groups">
          <div class="group">
            <img src="{{group.cover_photo_url}}" (click)="openPage(group)"/>
          </div>
          <div class="card-title" (click)="openPage(group)">{{group.name}}</div>
          <div class="card-subtitle" (click)="openPage(group)">{{group.members.length}} seguidores</div>
      </ion-slide>
    </ion-slides>
    <button ion-button outline block color="barramais-primary" class="btn-1" *ngIf="confirmedGroups_count > 0" (click)="openAll(confirmed_groups, 'Páginas seguindo')">VER TODAS</button>
  </div>

  <div class="groups">
    <p>Suas páginas <b>({{myGroups_count}})</b></p>
    <ion-slides paginationType="fraction" slidesPerView=2>
      <ion-slide *ngFor="let group of my_groups">
          <div class="group">
            <img src="{{group.cover_photo_url}}" (click)="openPage(group)"/>
          </div>
          <div class="card-title" (click)="openPage(group)">{{group.name}}</div>
          <div class="card-subtitle" (click)="openPage(group)">{{group.members.length}} seguidores</div>
      </ion-slide>
    </ion-slides>
    <button ion-button outline block color="barramais-primary" class="btn-1 btn-blue" (click)="openModal()">CRIAR UMA NOVA PÁGINA</button>
  </div>

  <div class="groups pendings">
    <p>Convites pendetes <b>({{pendinGroups_count}})</b></p>
    <ion-list>
      <ion-item *ngFor="let group of pending_groups">
          <ion-thumbnail item-start>
            <img src="{{group.cover_photo_url}}" (click)="openPage(group)"/>
          </ion-thumbnail>
          <h2>{{group.name}}</h2>
          <p>{{group.members.length}} seguidores</p>
          <button ion-button outline item-end color="barramais-primary" (click)="accept_group(group)">SEGUIR</button>
      </ion-item>
    </ion-list>
    <button ion-button outline block color="barramais-primary" class="btn-1 see-all" *ngIf="pendinGroups_count > 0" (click)="openAll(pending_groups, 'Convites pendetes')">VER TODOS</button>
  </div>

</ion-content>
