<ion-header>
  <ion-navbar>
    <bm-header></bm-header>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="background-image">
      <img class="img-standard" src="{{group.cover_photo_url}}" id='user_cover_photo' />
    </div>
    <!-- <div class="background-image">
      <button ion-button icon-only class="button-more" (click)="presentPopover($event)" *ngIf="!send_request_to || is_member_of">
        <ion-icon name="more"></ion-icon>
      </button>
      <img src="{{group.cover_photo_url}}" alt="Perfil Header"/>
    </div> -->
    <div class="main-content">
      <img src="{{group.cover_photo_url}}" id='user_avatar'>
      <ion-item class="item-name-field">
          <h2>{{group.name}}</h2>
          <p>{{l_confirmedMembers}} seguidores</p>
      </ion-item>
      <!-- <button icon-left class="perfil-actions" color="danger" style="right: 84px !important;" ion-button *ngIf="showAdminActions" (click)="presentConfirmDelete(group)">
        <ion-icon name="close"></ion-icon>
        Excluir
      </button>
      <button icon-left class="perfil-actions" color="primary" ion-button (click)="openEditModal(groupUpdate, group)" *ngIf="showAdminActions">
        <ion-icon name="create"></ion-icon>
        Editar
      </button> -->
      <!-- <ion-item>
        <h2 class="group-name">{{group.name}}</h2>
        Criada em {{group.createdAt | date:'MMMM d, y'}}
      </ion-item> -->
      <div class="profile-description">
          <ion-row class="actions-row">
            <ion-col width-33 (click)="togglePublications()">
              <p class="icon-word" [ngClass]="{'selected-menu': publications}">PUBLICAÇÕES</p>
            </ion-col>

            <ion-col id="pub-button" width-33 (click)="showProfileInformation()">
              <p class="icon-word" [ngClass]="{'selected-menu': profileInformation}">SOBRE</p>
            </ion-col>

            <!-- <ion-col width-33 (click)="openPage(albumListPage)"> -->
            <ion-col width-33 (click)="showAlbums()">
              <p class="icon-word" [ngClass]="{'selected-menu': show_album}">FOTOS</p>
            </ion-col>
          </ion-row>
      </div>

      <div class="profile-container" [hidden]="!publications">
          <button ion-button outline block color="barramais-primary" class="btn-1" *ngIf="is_member_of" (click)="openPostModal()" >NOVA PUBLICAÇÃO </button>
          <bm-post  [posts]="posts"></bm-post>
      </div>

      <div class="profile-container" [hidden]="!profileInformation">
          <div class="profile-description items" >
              <div class="section-title">
                <ion-icon name="contact"></ion-icon>
                <h2>INFORMAÇÕES DA PÁGINA</h2>
              </div>
              <div class="social" *ngIf="user.about!==''">
                <p content-wrap>{{group.about}}</p>
              </div>
          </div>
      </div>

      <div class="profile-container" [hidden]="!show_album">
          <!-- <button (click)="openPage(createAlbumPage)" ion-button outline block color="barramais-primary" class="btn-1" *ngIf="user.id == current_user.id"  >CRIAR NOVO ÁLBUM</button>
          <ion-list>
              <div *ngFor="let album of albums" class="photo-list" id="{{album.album_id}}">
                  <p>{{album.title}}</p>
                  <div class="photo-inner">
                    <img src="{{album.url}}"  />
                  </div>
                  <div >
                     <div (click)="goToAlbum(viewAlbumPage, album)">
                          <span>VISUALIZAR</span>
                      </div>

                     <div *ngIf="user.id == current_user.id" (click)="goToAlbum(editAlbumPage, album)">
                          <span>EDITAR</span>
                      </div>

                     <div *ngIf="user.id == current_user.id" (click)="deleteAlbum(album)">
                          <span>EXCLUIR</span>
                      </div>
                  </div>
              </div>
          </ion-list> -->
      </div>


      <!-- <div class="profile-description">
        <ion-row class="actions-row">
          <ion-col width-25 (click)="openModal(groupMembers, confirmedMembers, 'confirmados')">
            <h2 class="icon-button">{{l_confirmedMembers}}</h2>
            <p class="icon-word">
              Seguidores
            </p>
          </ion-col>
          <ion-col width-25 (click)="openModal(addGroupMembers, friends)" *ngIf="is_member_of || showAdminActions">
            <ion-icon name="person-add" class="icon-button"></ion-icon>
            <p class="icon-word">
              Convidar
            </p>
          </ion-col>
          <ion-col width-25 (click)="openModal(groupMembers, pendingByAdmin, 'pendentes')" *ngIf="showAdminActions">
            <ion-icon name="time" class="icon-button"></ion-icon>
            <p class="icon-word">
              Pendentes
            </p>
          </ion-col>
          <ion-col width-25 (click)="groupInformation()">
            <ion-icon name="ios-information-circle" class="icon-button"></ion-icon>
            <p class="icon-word">
              Info
            </p>
          </ion-col>
        </ion-row>
        <div class="groupInformation" [hidden]="!showGroupInformation">
          {{group.about}}
        </div>
      </div> -->
      <!-- <bm-post [posts]="posts"></bm-post> -->
    </div>
  </div>
  <!-- <ion-fab right bottom *ngIf="is_member_of" >
    <button ion-fab mini color="danger" (click)="openPostModal()"><ion-icon name="create"></ion-icon></button>
  </ion-fab> -->
</ion-content>
