<!-- <ion-navbar>
    <button ion-button icon-only menuToggle start>
        <ion-icon name="menu"></ion-icon>
        <img alt="logo" height="26" src="assets/images/logoBarraMais.png">
    </button>

    <ion-title> {{ title }} </ion-title>

    <ion-buttons end>
        <button ion-button icon-only (click) = "openUserPage(usersPage)">
          <ion-icon name="search"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>
 -->

<ion-navbar primary hideBackButton >
      <button menuToggle style="order: 1:">
        <ion-icon name="menu"></ion-icon>
        <img alt="logo" height="26" src="assets/images/logoBarraMais.png">
      </button>

    <ion-title style="order: 2:"> {{ title }} </ion-title>

    <ion-buttons end>
      <button (click) = "openUserPage()" ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
</ion-navbar>

