page-edit-album {
    .preview-image {
        max-width: 100%;
        min-height: 100px;
        max-height: 300px;
    }

    .btn-salvar {
        position: absolute;
        display: block;
        margin: 0 auto;
        width: 91%;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .input-container .text-input{
        border: 1px #bab7b7 solid;
        padding: 10px 5px;
    }

    .input-container .label{
        margin-left: 16px;
        color: #5d5d5d;
        margin-bottom: 0px;
    }

    .input-container .input-text{
        margin-left: 16px;
        color: #5d5d5d;
        margin-bottom: 0px;
    }

    .btn-1 {
        width: 95% !important;
        margin-left: 3%;
        font-weight: 700;
    }

    .tabbar {
        display: none;
    }

    .photo-list {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .photo-list div {
        width: 100px;
        height: 100px;
        margin: 10px 0;
        display: flex;
        position: relative;
    }

    .photo-list div div {        
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
    }

    .photo-list > div > .icon {
        position: absolute;
        color: red;
        font-size: 1.5em;
        right: 0;
        z-index: 2;

        background: #f1f1f1;
        border-radius: 80%;
        height: 19px;
        background-position: center;
    }
}
